doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
//  #footer
//    br
//    br
//    div Copyright © LGSI CSP3 SDET Team #{+new Date().getFullYear()}